# Auto detect text files and perform LF normalization
* text=auto

# Scripts que deben conservar sus finales de linea originales
mvnw    text eol=lf
*.sh    text eol=lf
*.cmd   text eol=crlf
*.bat   text eol=crlf
